<div class="container">
  <h1>Edit Source</h1>

  <div class="row">
    <div class="col-md-8">
      <%= form_for @source do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter source title" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter source description" %>
        </div>
        <div class="form-group">
          <%= f.label :file %>
          <%= f.file_field :file %>
          <%= f.hidden_field :file_cache %>
        </div>
        <div class="form-group">
          <%= f.label :link %>
          <%= f.url_field :link, class: 'form-control', placeholder: "Enter URL" %>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
