<div class="container">
  <h1>Sources</h1>

  <div>
    <%= link_to "Add New Source", new_source_path, class: 'btn btn-primary' %>
  </div>
  <div class="row top-buffer">
    <div class="col-md-8">
      <% @sources.each do |s| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= s.title %></br>
            </h4>
              <%= s.description %></br>
              <%= image_tag(s.file.url) if s.file? %>
              <a href="<%= s.link %>"><%= s.link %></a></br>
              <%# s.youtube %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
