<h1><%= @assignment.name %></h1>

<% if instructor_signed_in? %>
  <%= render_edit_delete_assignment(@assignment) %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @assignment.instructions %></p>
    <p>Due Date: <%= @assignment.duedate %></p>

    <% if instructor_signed_in? %>
      <h2>Submissions</h2>
      <ul class="list-group">
        <% @assignment.submissions.each do |submission| %>
          <li class="list-group-item">
            <div class="media">
              <div class="media=body">
                <%= render_submission(submission) %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if student_signed_in? %>
      <%= render_new_submission_link %>
    <% end %>
  </div>
</div>
